environment: dev

spyface_api:
  volumeName: pasta-modelo
  mountPath: /opt/modelo
  hostPath: /modelo
  service:
    port: 8080

krakend:
  service:
    port: 80
    targetPort: 8080
    type: LoadBalancer