environment: {{ .Values.environment }}

spyface_api:
  volumeName: {{ .Values.spyface_api.volumeName }}
  mountPath: {{ .Values.spyface_api.mountPath }}
  hostPath: {{ .Values.spyface_api.hostPath }}
  service:
    port: {{ .Values.spyface_api.service.port }}

krakend:
  service:
    port: {{ .Values.krakend.service.port }}
    targetPort: {{ .Values.krakend.service.targetPort }}
    type: {{ .Values.krakend.service.type }}